
:root {
    --main_color: #e44641;
    --text_color: #404040;
    --main_background: #E5E5E5;
    --selection_color:#ffffff;
    --white: white;
    --black: black;
  }

body{
    padding: 0;
    margin: 0;
}
header{
    border-bottom: 1px solid black;
    height: 100px;
}

.logout {
    border: solid 1px var(--main_color);
    color: var(--main_color);
    font-weight: bold;
    text-decoration: none;
}

.logout:hover {
    background-color: var(--main_color);
    color: var(--white);
}

.sidebar{
    width: 100%;
    height: 100vh;
    background: var(--white);
    border-right: .3px solid black;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    font-weight: bold;
    font-size: xx-large;
}

.sidebar_list{
    margin-top: 15px;
}

.sidebar_head{
    color: var(--text_color);
    font-weight: bolder;
    font-size: medium;
}

.sidebar_subhead{
    padding-left: 4em;
    font-weight: bold;
    color: var(--main_color);
}

.sidebar_icons{
    color: var(--main_color);
    font-size: large;
}

.sidebar_content{
    padding: 1px 0px 1px 0px;
    border-radius: 20px;
    margin-top: 5px;
    align-items: baseline;
}

.sidebar_subcontent{
    background: var(--selection_color);
    padding: 10px 0px 0px 0px;
    border-radius: 20px;
    margin-top: 5px;
    align-items: baseline;
    display: flex;
}


.username{
    font-weight: bold;
    color: var(--white);
}

.heading{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-text{
    font-size: xx-large;
    font-weight: bolder;
    border-bottom: black 1px solid;
    padding: 0px 100px;

}

.submit{
    display: flex;
    justify-content: center;
}

.active_user_table{
    background: var(--white);
    padding: 50px;
    margin: 0px 20px;
    border-radius: 20px;
    border: none;
}
.table_caption{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.dashboard_side_head{
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;

}
.dashboard_widgets{
    background-color: var(--white);
    border-radius: 0px 50px 50px 0px;
}

.widget1{
    border-left: #29335D 15px solid;
}

.widget2{
    border-left: #43863D 15px solid;
}

.widget3{
    border-left: #FB9246 15px solid;
}

.widget_name{
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bolder;
    color: var(--main_color);
}

.widget_no{
    padding-left: 30px;
    font-size: xx-large;
    padding-top: 0;
}


.error{
    color: red;
}


.report-table {
    background-color: var(--main_color);
    height: 50px;
    align-items: center;
    color: var(--white);
}