{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
    <div class="row active_user_table">
        <div class="table-responsive">
            <caption>
                <p class="table_caption"> Active Orders</p>
            </caption>
            <table class="table mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th>Order #</th>
                        <th scope="col">Name</th>
                        <th scope="col">Product Name </th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Change Status</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_detail %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td><a href="{% url 'ad_order_edit' item.order.order_number %}">{{ item.order.order_number }}</a></td>
                        <td>{{item.order.full_name}}</td>
                        <td>{{ item.product.product_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>₹ {{ item.order.order_total }}</td>
                        <td>{{ item.status }}</td>
                        <td>
                            <select onchange="order_status_change(event, '{{item.id}}')" class="form-control" style="border: red 1px solid; color: red;" name="" id="order_status">
                                <option value="">{{ item.status }}</option>
                                {% if item.status != 'Placed' %}
                                <option value="Placed">Placed</option>
                                {% endif %}
                                {% if item.status != 'Accepted' %}
                                <option value="Accepted">Accepted</option>
                                {% endif %}
                                {% if item.status != 'Shipping' %}
                                <option value="Shipping">Shipping</option>
                                {% endif %}
                                {% if item.status != 'Delivered' %}
                                <option value="Delivered">Delivered</option>
                                {% endif %}
                                {% if item.status != 'Cancelled' %}
                                <option value="Cancelled">Cancelled</option>
                                {% endif %}
                            </select>
                        </td>
                        <td>{{ item.created_at.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>



<script>
    function order_status_change(event, item_id){
        status = event.target.value
        id = item_id
        console.log(status, id)
        $.ajax({
            url: '/secureadmin/order_status_change',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                status: status,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })
    }
</script>



{% endblock %}