{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
	<div>
		<div class="col-md-12 heading mt-3 mb-3">
			<p class="heading-text">Advertisements</p>
		</div>
	</div>
</section>


<section>
    <div class="row active_user_table">
        <div class="table-responsive">
            <div>
                <a href="{% url 'ad_add_ads' %}"><button class="btn btn-primary">Add Ads</button></a>
            </div>
            <caption>
                <p class="table_caption"> Ads List</p>
            </caption>
            <table class="table mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Banner </th>
                        <th>Banner Name</th>
                        <th>Brand</th>
                        <th>Product</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ads in ads_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><img src="{{ads.banner.url}}" height="30px" alt=""></td>
                        <td>{{ads.banner_name}}</td>
                        <td>{{ads.brand}}</td>
                        <td>{{ads.product}}</td>
                        <td>
                            <a onclick="delete_ads('{{ads.id}}')" type="button" data-toggle="modal"
                                data-target="#exampleModalCenter" style="color: red;"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>





<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to delete ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="deleteAds()" id="delete_ads"><button type=" button"
                        class="btn btn-danger">Delete</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ends Here -->


<script>

    function delete_ads(id) {
        document.getElementById('delete_ads').value = id
    }

    function deleteAds() {
        var id = document.getElementById('delete_ads').value
        $.ajax({
            url: '/admin/delete_ads',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })

    }
</script>

{% endblock %}