{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section style="padding-left: 50px;">
    <form id="post-form" method="POST" action="ad_add_brand" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_p }}


        <div id="image-box" class="image-container"></div>
        <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;"
            type="button">Crop</button>


        <button type="submit" class="btn btn-primary not-visible" id="confirm-btn"> Submit</button>
    </form>
    </div>
</section>





{% endblock %}