{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
    <div class="row active_user_table">
        <div class="table-responsive">
            <div>
                <a href="{% url 'ad_add_brand' %}"><button class="btn btn-primary">Add Brand</button></a>
            </div>
            <caption>
                <p class="table_caption"> Brands List</p>
            </caption>
            <table class="table mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th>Logo</th>
                        <th scope="col">Brand Name </th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for brand in brands %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <img src="{{ brand.logo.url }}" height="30px" alt="">
                        </td>
                        <td>{{brand.brand_name}}</td>
                        <td>
                            <a href="{% url 'ad_brand_edit' brand.slug %}" class="pr-5"><i class="fas fa-edit"></i></a>

                            
                            <a onclick="delete_brand('{{brand.id}}')" type="button" data-toggle="modal"
                                data-target="#exampleModalCenter" style="color: red;"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to delete ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="deleteBrand()" id="delete_brand"><button type=" button"
                        class="btn btn-danger">Delete</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ends Here -->


<script>

    function delete_brand(id) {
        document.getElementById('delete_brand').value = id
    }

    function deleteBrand() {
        var id = document.getElementById('delete_brand').value
        $.ajax({
            url: '/admin/ad_delete_brand',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })

    }
</script>



{% endblock %}