{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
        <div class="row active_user_table">
            <div class="table-responsive">
                <caption><p class="table_caption"> Brands List</p></caption>
                <table class="table mt-3" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th>Logo</th>
                            <th scope="col">Brand Name </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for brand in brands %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>
                                <img src="{{ brand.logo.url }}"  height="30px" alt="">
                            </td>
                            <td>{{brand.brand_name}}</td>
                            <td>
                                <a onclick="return confirm('Are you sure to delete?')"
                                    href=""><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</section>


{% endblock %}