{% extends 'admin_base.html' %}

{% load static %}

{% block content %}




<section>
    <div class="row active_user_table">
        <div class="table-responsive">
            <div>
                <a href="" data-toggle="modal" data-target="#exampleModalCenter"><button class="btn btn-primary">Add
                        Coupons</button></a>
            </div>
            <caption>
                <p class="table_caption"> Coupons List</p>
            </caption>
            <table class="table mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th>Coupon Name</th>
                        <th scope="col">Coupon Code</th>
                        <th scope="col">Discount(%)</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coupon in coupons %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{coupon.coupon_name}}</td>
                        <td>{{coupon.coupon_code}}</td>
                        <td>{{coupon.discount}}</td>
                        <td>{{coupon.status}}</td>
                        <td>
                            <!-- <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label> -->

                            <a onclick="delete_coupon('{{coupon.id}}')" type="button" data-toggle="modal"
                                data-target="#exampleModalCenter00" style="color: red;"><i
                                    class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>






<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            {{coupon_form}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="coupon_submit()" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal cancel order-->

<div class="modal fade" id="exampleModalCenter00" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to delete coupon ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="deleteCoupon()" id="delete_coupon"><button type=" button" class="btn btn-danger">Delete
                        Coupon</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ends Here -->

<script>
    function coupon_submit() {
        var coupon_name = document.getElementById('id_coupon_name').value
        var coupon_code = document.getElementById('id_coupon_code').value
        var discount = document.getElementById('id_discount').value
        console.log(coupon_name, coupon_code, discount)

        $.ajax({
            url: "{% url 'add_coupon'%}",
            method: 'POST',
            dataType: 'json',
            data: {

                coupon_name: coupon_name,
                coupon_code: coupon_code,
                discount: discount,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })
    }


    function delete_coupon(id) {
        document.getElementById('delete_coupon').value = id
    }

    function deleteCoupon() {
        var id = document.getElementById('delete_coupon').value
        $.ajax({
            url: "{% url 'ad_delete_coupon' %}",
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })

    }

</script>

{% endblock %}