{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Edit the Order</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <dii class="col-md-12">

                                <form action="" method="POST">
                                    {% csrf_token %}

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>User</label>
                                            {{ order_form.user }}

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Order Number</label>
                                            {{ order_form.order_number }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Payment</label>
                                            {{ order_form.payment }}

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Status</label><br>
                                            {{ order_form.status }}                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>First Name</label>
                                            {{ order_form.first_name }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Last Name</label>
                                            {{ order_form.last_name }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Phone</label>
                                            {{ order_form.phone }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Email</label>
                                            {{ order_form.email }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Address Line 1</label>
                                            {{ order_form.address_line_1 }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Address Line 2</label>
                                            {{ order_form.address_line_2 }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>City</label>
                                            {{ order_form.city }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>State</label>
                                            {{ order_form.state }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Country</label>
                                            {{ order_form.country }}

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Pincode</label>
                                            {{ order_form.pincode }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Order Note</label>
                                            {{ order_form.order_note }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Ordered</label>
                                            {{ order_form.is_ordered }}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Order Total</label>
                                            {{ order_form.order_total }}

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tax</label>
                                            {{ order_form.tax }}
                                        </div>
                                    </div><br>

                                    <div class="form-row">
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn btn-primary" value="Update Order">
                                        </div>
                                    </div>

                                </form>
                            </dii>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>





{% endblock %}