{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
    <div class="row active_user_table">
        <div class="table-responsive">
            <caption>
                <p class="table_caption"> Past Orders</p>
            </caption>
            <table class="table mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th>Order #</th>
                        <th scope="col">Full Name </th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Order Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Is Ordered</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in past_orders %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td><a href="">{{ order.order_number }}</a></td>
                        <td>{{ order.full_name }}</td>
                        <td>{{ order.phone }}</td>
                        <td>{{ order.email }}</td>
                        <td>{{ order.order_total }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.is_ordered }}</td>
                        <td>{{ order.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>





{% endblock %}