{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
    <div>
        <div class="col-md-8 heading">
            <p class="heading-text">Edit Product</p>
        </div>
    </div>
</section>


<section style="padding-left: 50px;">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{% url 'ad_product_edit' product.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" name="product_name" class="form-control" value="{{ product.product_name }}"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" name="price" class="form-control" value="{{ product.price }}" required>
                        </div>
                        <div class="form-group">
                            <label>Brand</label>
                            <select class="form-control" name="brand">
                                <option value="{{ product.brand }}">{{ product.brand }}</option>
                                {% for brand in brands %}
                                <option value="{{ brand.brand_name }}">{{ brand.brand_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Stock</label>
                            <input type="number" name="stock" class="form-control" value="{{ product.stock }}" required>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control" cols="30" rows="5"
                                required>{{ product.description }}</textarea>
                        </div>
                        <label>Upload Images</label>
                        <div>
                            <img src="{{ product.image1.url }}" alt="i" height="30px">
                            <input type="file" name="image1" required>
                        </div>
                        <div>
                            <img src="{{ product.image2.url }}" alt="i" height="30px">
                            <input type="file" name="image2" required>
                        </div>
                        <div>
                            <img src="{{ product.image3.url }}" alt="i" height="30px">
                            <input type="file" name="image3" required>
                        </div>
                        <div>
                            <img src="{{ product.image4.url }}" alt="i" height="30px">
                            <input type="file" name="image4" required>
                        </div>
                        <br>

                        <!-- <input type="checkbox" id="available" name="available" value="True">
                        <label for="available">Available</label> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 submit">
                        <button type="submit" class="btn btn-success mr-3">Apply Changes</button>
                        <a href="{% url 'ad_product_list' %}" class="btn btn-primary me-5">Cancel</a>

                    </div>
                </div>

            </form>


        </div>

    </div>
</section>


{% endblock %}