{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section>
    <div class="row active_user_table">
        <div class="table-responsive">
            <caption>
                <p class="table_caption"> Past Orders</p>
            </caption>
            <table class="table mt-3" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th>Order #</th>
                        <th scope="col">Product Name </th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_detail %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td><a href="{% url 'ad_order_edit' item.order.order_number %}">{{ item.order.order_number }}</a></td>
                        <td>{{ item.product.product_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>₹ {{ item.product_price }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>






{% endblock %}