{% extends 'admin_base.html' %}

{% load static %}

{% block content %}


<section class="pl-5 mt-5">
    <div class="row pr-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div
                        style="background-image: linear-gradient(to bottom right, #ffcb52, #ff7b02); border-radius: 20px;">
                        <div class="row mt-3 ml-3 pt-3">
                            <p style="font-size: x-large; font-weight: bold; color: white;">Total Revenue</p>
                        </div>
                        <div class="row pl-5">
                            <p style="color: white; font-weight: bold; font-size: 45px;">₹ {{payment_total}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        style="background-image: linear-gradient(to bottom right,#fd9869, #f2c9c9); border-radius: 20px;">
                        <div class="row mt-3 ml-3 pt-3">
                            <p style="font-size: x-large; font-weight: bold; color: white;">Total Products</p>
                        </div>
                        <div class="row pl-5">
                            <p style="color: white; font-weight: bold; font-size: 45px;">{{products}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        style="background-image: linear-gradient(to bottom right, #c165dd, #5c27fe); border-radius: 20px;">
                        <div class="row mt-3 ml-3 pt-3">
                            <p style="font-size: x-large; font-weight: bold; color: white;">Total Brands</p>
                        </div>
                        <div class="row pl-5">
                            <p style="color: white; font-weight: bold; font-size: 45px;">{{brands}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        style="background-image: linear-gradient(to bottom right, #1de5e2, #b588f7); border-radius: 20px;">
                        <div class="row mt-3 ml-3 pt-3">
                            <p style="font-size: x-large; font-weight: bold; color: white;">Total Users</p>
                        </div>
                        <div class="row pl-5">
                            <p style="color: white; font-weight: bold; font-size: 45px;">{{users}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row pl-5 mt-5 pr-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart2" width="200" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="row pl-5 mt-5 pr-5">

        <div class="col-md-12"
            style="background-image: linear-gradient(to bottom right,#dad7dd, #d6d5dd); border-radius: 20px;">
            <p class="ml-5 mt-5" style="font-size: x-large; font-weight: bolder; color: white;">Latest Brands</p>
            <div class="row pr-5">
                {% for brand_img in brand_img %}
                <div class="col-md-2 p-5 ml-5 mb-5"
                    style=" border-radius: 20px; display: flex; justify-content: center; background-color: white;">
                    <img src="{{brand_img.logo.url}}" alt="" class="img-fluid">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="pl-5 mt-5">
    <div class="row pr-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <div
                        style="height: 100px; background-image: linear-gradient(to bottom right, #fa7cbb, #f14658); border-radius: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white pl-3 pt-2">Delivered Orders</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-white pt-1" style="font-weight: bolder; font-size: 60px;">
                                    {{delivered_orders}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div
                        style="height: 100px; background-image: linear-gradient(to bottom right, #fa7cbb, #f14658); border-radius: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white pl-3 pt-2">Shipping Orders</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-white pt-1" style="font-weight: bolder; font-size: 60px;">
                                    {{shipping_orders}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div
                        style="height: 100px; background-image: linear-gradient(to bottom right, #fa7cbb, #f14658); border-radius: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white pl-3 pt-2">Accepted Orders</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-white pt-1" style="font-weight: bolder; font-size: 60px;">
                                    {{accepted_orders}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div
                        style="height: 100px; background-image: linear-gradient(to bottom right, #fa7cbb, #f14658); border-radius: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white pl-3 pt-2">Cancelled Orders</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-white pt-1" style="font-weight: bolder; font-size: 60px;">
                                    {{cancelled_orders}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div
                        style="height: 100px; background-image: linear-gradient(to bottom right, #fa7cbb, #f14658); border-radius: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white pl-3 pt-2">Returned Orders</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-white pt-1" style="font-weight: bolder; font-size: 60px;">
                                    {{return_orders}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div
                        style="height: 100px; background-image: linear-gradient(to bottom right, #fa7cbb, #f14658); border-radius: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-white pl-3 pt-2">Placed Orders</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-white pt-1" style="font-weight: bolder; font-size: 60px;">
                                    {{placed_orders}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels| safe}},
    datasets: [{
        label: 'price',
        data: {{ data| safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                fontColor: "green",
                    beginAtZero: true
            }
        },
        plugins: {
            title: {
                display: true,
                    text: 'Latest Orders'
            }
        }
    }
});
</script>


<script>
    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels2| safe}},
    datasets: [{
        label: '# of products',
        data: {{ data2| safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderWidth: 1,
        hoverOffset: 4
        }]
    },

    options: {
        plugins: {
            title: {
                display: true,
                    text: 'Leading Brands'
            }
        }
    }
});






</script>



{% endblock %}