{% extends 'base.html' %}

{% load static %}



{% block content %}


<section class="section-content padding-y bg">
    <div class="container">


        <!-- ============================ COMPONENT 1 ================================= -->

        {% if not cart_items %}
        <h2 class="text-center" style="color: grey;">Your Shopping Cart is Empty</h2>
        <br>
        <div class="text-center">
            <img src="{% static './images/empty-cart.png' %}" alt="zx c">
        </div>
        <br>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-primary" style="padding: 10px 80px;">Continue Shopping</a>
        </div>


        {% else %}
        <div class="row">
            <aside class="col-lg-9">
                {% include 'includes/alert.html' %}
                <div class="card">
                    <table class="table table-borderless table-shopping-cart table-responsive">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{ cart_item.product.image1.url }}" class="img-sm">
                                        </div>
                                        <figcaption class="info">
                                            <a href="{{ cart_item.product.get_url }}"
                                                class="title text-dark">{{cart_item.product.product_name}}</a>
                                            <p class="text-muted small">Color: Black <br> Brand:
                                                {{cart_item.product.brand}}</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <!-- col.// -->
                                    <div class="col">
                                        <div class="input-group input-spinner">
                                            <div class="input-group-prepend">
                                                <a onclick="remove_cart('{{cart_item.product.id}}')"
                                                    class="btn btn-light" type="button" id="button-minus11"> <i
                                                        class="fa fa-minus"></i> </a>
                                            </div>


                                            <input type="text" class="form-control"
                                                id="quantity{{cart_item.product.id}}" value="{{cart_item.quantity}}"
                                                disabled>
                                            <div class="input-group-append">
                                                <a onclick="add_item('{{cart_item.product.id}}')" class="btn btn-light"
                                                    type="button" id="button-plus"> <i class="fa fa-plus"></i> </a>
                                            </div>
                                        </div> <!-- input-group.// -->
                                    </div> <!-- col.// -->
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price" id="sub_total{{cart_item.product.id}}">₹
                                            {{cart_item.sub_total}}</var>
                                        <small class="text-muted"> ₹ {{cart_item.product.price}} each </small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <!-- Button trigger modal -->
                                    <button onclick="remove_item('{{cart_item.product.id}}')" type="button"
                                        class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right" id="total">₹ {{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right" id="tax"> ₹ {{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand Total:</dt>
                            <dd class="text-right text-dark b"><strong id="grand_total">₹ {{grand_total}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Checkout </a>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->

        {% endif %}
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Remove</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Are you sure to remove ?</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a onclick="removeItem()" id="modal_remove_btn"><button type=" button"
                            class="btn btn-danger">Remove</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Ends -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<script>
    document.getElementsByClassName('section-content')[0].style.minHeight = '100vh'
    console.log(window.innerHeight)
    $(document).ready(function () {
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    })

    function remove_item(id) {
        document.getElementById('modal_remove_btn').value = id
    }

    function removeItem() {
        var id = document.getElementById('modal_remove_btn').value
        $.ajax({
            url: '/cart/remove_item/',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })
    }

    function remove_cart(id) {
        var id = id
        console.log(id)
        $.ajax({
            url: '/cart/remove_cart/',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                if (response.flag == 1) {
                    swal({
                        title: "Are you sure to remove item?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                swal("Item removed from cart!", {
                                    icon: "success",
                                });
                                $.ajax({
                                    url: '/cart/remove_item/',
                                    method: 'POST',
                                    dataType: 'json',
                                    data: {
                                        id: id,
                                        csrfmiddlewaretoken: "{{csrf_token}}"
                                    },
                                    success: (response) => {
                                        location.reload()
                                    }
                                })
                            }
                        });
                }
                else {
                    document.getElementById("quantity" + response.id).value = response.quantity
                    document.getElementById("sub_total" + response.id).textContent = '₹ ' + response.sub_total
                    document.getElementById("total").textContent = '₹ ' + response.total
                    document.getElementById("tax").textContent = '₹ ' + response.tax
                    document.getElementById("grand_total").textContent = '₹ ' + response.grand_total
                    document.getElementById("cart_count").textContent = response.cart_count
                }
            }
        })
    }


    function add_item(id) {
        var id = id
        $.ajax({
            url: '/cart/add_item/',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                if (response.flag == 1) {
                    swal("Sorry!", "Product out of stock");
                }
                else {
                    document.getElementById("quantity" + response.id).value = response.quantity
                    document.getElementById("sub_total" + response.id).textContent = '₹ ' + response.sub_total
                    document.getElementById("total").textContent = '₹ ' + response.total
                    document.getElementById("tax").textContent = '₹ ' + response.tax
                    document.getElementById("grand_total").textContent = '₹ ' + response.grand_total
                    document.getElementById("cart_count").textContent = response.cart_count

                }
            }

        })

    }
</script>







{% endblock %}