{% extends 'base.html' %}

{% load static %}



{% block content %}



<!-- ========================= SECTION MAIN ========================= -->


<section class="section-intro padding-y-sm">
	<div class="container">
		{% include 'includes/alert.html' %}
		{% for ads in ads %}
		<div class="row mb-2">
			<div class="col-md-12 text-center">
				<img src="{{ ads.banner.url }}" alt="" width="1180" height="295" class="rounded">
			</div>
		</div>
		{% endfor %}

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->



<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">

		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
			<h3 class="section-title">New Arrivals</h3>
		</header><!-- sect-heading -->

		<div class="row">

			{% for product in products %}
			<div class="col-md-3">
				<div class="card card-product-grid pt-3">
					<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image1.url }}"> </a>
					<figcaption class="info-wrap ">
						<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
						<div class="d-flex justify-content-start">
							{% if product.offer > 0 %}
							<span class="price">₹{{product.price}}</span>&#160;&#160;
							<del class="price-old mb-0">₹{{product.mrp}}</del>&#160;
							<p style="color: green;">{{product.offer}}% off</p>
							{% else %}
							<span class="price">₹{{product.price}}</span>
							{% endif %}
						</div>
					</figcaption>
					<div class="row mb-3">
						{% if product.stock <= 0 %} <div class="col-md-12 text-center">
							<a class="btn btn-secondary text-white">Out of stock</a>
					</div>
					{% else %}
					<div class="col-md-6 text-center">
						<a href="{% url 'add_cart' product.id %}" class="btn btn-outline-primary">Add to Cart</a>
					</div>
					<div class="col-md-6 text-center">
						<a href="{% url 'buy_now' product.id %}" class="btn"
							style="background: rgb(250, 111, 12); color: white;">Buy Now</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div> <!-- col.// -->
		{% endfor %}
	</div> <!-- row.// -->

	</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->





</body>

</html>


{% endblock %}