{% extends 'base.html' %}

{% load static %}



{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header mb-2">
                        <strong class="d-inline-block mr-3">My Addresses</strong>
                    </header>
                    <div class="row">
                        {% if addresses %}
                        {% for address in addresses %}
                        <div class="col-sm-6 mt-2 mb-2">
                            <div class="card">
                                <div class="card-body" style="height: 200px;">
                                    <div class="row">
                                        <div class="container" style="display: flex; justify-content: space-between;">
                                            <div>
                                                <h5 class="card-title mb-0">{{address.full_name}}</h5>
                                            </div>

                                            <div>

                                                <a onclick="update_address('{{address.id}}')" type="button"
                                                    data-toggle="modal" data-target="#exampleModalCenter313"><i
                                                        class="far fa-edit mr-2"></i></a>
                                                <a onclick="delete_address('{{address.id}}')" type="button"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fas fa-trash-alt" style="color: red;"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-text mb-0">Address:</p>
                                    <p class="card-text mb-0">{{address.full_address}}</p>
                                    <p class="card-text mb-0">{{address.city}}, {{address.state}}</p>
                                    <p class="card-text mb-0">{{address.country}}, PIN: {{address.pincode}}</p>
                                    <p class="card-text mb-0">Phone: {{address.all_numbers}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="pb-2" style="padding-left: 30px;">No saved addresses</p>
                        {% endif %}
                    </div>
                </article>

                <div class="row mt-3" style="display: flex; justify-content: center;">
                    <a href="" data-toggle="modal" data-target="#exampleModalCenter99"><button
                            class="btn btn-primary">Add Address</button></a>
                </div>




            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- Modal -->

<div class="modal fade" id="exampleModalCenter99" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="form-row mt-3">
                                <div class="form-group col-md-6">
                                    <label>First Name</label>
                                    {{ address_form.first_name }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last Name</label>
                                    {{ address_form.last_name }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Address Line 1</label>
                                    {{ address_form.address_line_1 }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Address Line 2</label>
                                    {{ address_form.address_line_2 }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>City</label>
                                    {{ address_form.city }}
                                </div>
                                <div class="form-group col-md-3">
                                    <label>State</label>
                                    {{ address_form.state }}
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Country</label>
                                    {{ address_form.country }}
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Pincode</label>
                                    {{ address_form.pincode }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Phone Number</label>
                                    {{ address_form.phone_number }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    {{ address_form.email }}
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="address_submit()" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal cancel order-->


<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Are you sure to delete ?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="deleteAddress()" id="delete_address"><button type=" button"
                        class="btn btn-danger">Delete</button></a>
            </div>

        </div>
    </div>
</div>



<script>

    function delete_address(id) {
        console.log(id)
        document.getElementById('delete_address').value = id
    }

    function deleteAddress() {
        var id = document.getElementById('delete_address').value
        console.log(id)
        $.ajax({
            url: '/delete_address',
            method: 'POST',
            dataType: 'json',
            data: {
                id: id,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })
    }

    function address_submit() {
        var first_name = document.getElementById('id_first_name').value
        var last_name = document.getElementById('id_last_name').value
        var address_line_1 = document.getElementById('id_address_line_1').value
        var address_line_2 = document.getElementById('id_address_line_2').value
        var city = document.getElementById('id_city').value
        var state = document.getElementById('id_state').value
        var country = document.getElementById('id_country').value
        var pincode = document.getElementById('id_pincode').value
        var phone_number = document.getElementById('id_phone_number').value
        var email = document.getElementById('id_email').value

        $.ajax({
            url: "{% url 'add_address'%}",
            method: 'POST',
            dataType: 'json',
            data: {
                first_name: first_name,
                last_name: last_name,
                address_line_1: address_line_1,
                address_line_2: address_line_2,
                city: city,
                state: state,
                country: country,
                pincode: pincode,
                phone_number: phone_number,
                email: email,

                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: (response) => {
                location.reload()
            }
        })
    }



</script>

<!-- Modal Ends Here -->

<script>
    $(document).ready(function () {
        $.validator.addMethod("alpha", function (value, element) {
            return this.optional(element) || value == value.match(/^[a-zA-Z\s]+$/);
        });

        jQuery.validator.addMethod("noSpace", function (value, element) {
            return value == '' || value.trim('').length >= 4;
        }, "At least four characters");

        $.validator.addMethod("isEmail", function (value, element) {
            return this.optional(element) || value == value.match(/\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i);
        });


        $("#submit-form").validate({
            rules: {
                first_name: {
                    required: true,
                    alpha: true,
                },
                last_name: {
                    required: true,
                    alpha: true,
                },
                address_line_1: {
                    required: true,
                },
                city: {
                    required: true,
                },
                state: {
                    required: true,
                },
                country: {
                    required: true,
                },
                pincode: {
                    required: true,
                    minlength: 6,
                    maxlength: 6,
                },
                phone_number: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,
                    number: true
                },
                email: {
                    required: true,
                    isEmail: true
                },

            },
            messages: {
                first_name: {
                    alpha: "Please enter letters only"
                },
                last_name: {
                    alpha: "Please enter letters only"
                },
                email: {
                    isEmail: "Please enter a valid email address"
                },
                phone_number: {
                    number: "Please enter a valid mobile number",
                    minlength: "Please enter atleast 10 digits",
                    maxlength: "Please enter only 10 digits",
                },
            },
        })
    })
</script>


{% endblock %}