{% extends 'base.html' %}

{% load static %}



{% block content %}

<style>
	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: rgb(255, 255, 255);
		color: #3167eb;
		font-weight: bold;
		border-radius: 10px;
		border: 1px solid #3167eb;
		text-align: center;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	}

	#snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<section class="section-content padding-y bg">
	<div class="container">
		{% include 'includes/alert.html' %}
		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6">
					<article class="gallery-wrap m-5">
						<div class="img-big-wrap">
							<a href="#"><img class="big_img" src="{{ single_product.image1.url }}"></a>
						</div> <!-- img-big-wrap.// -->
						<div class="row mt-5 exzoom" id="exzoom">
							<div class="col-md-3 col-3 text-center border">
								<a href="#"><img class="small_img" src="{{ single_product.image1.url }}"
										height="100px"></a>
							</div>
							<div class="col-md-3 col-3 text-center border">
								<a href="#"><img class="small_img" src="{{ single_product.image2.url }}"
										height="100px"></a>
							</div>
							<div class="col-md-3 col-3 text-center border">
								<a href="#"><img class="small_img" src="{{ single_product.image3.url }}"
										height="100px"></a>
							</div>
							<div class="col-md-3 col-3 text-center border">
								<a href="#"><img class="small_img" src="{{ single_product.image4.url }}"
										height="100px"></a>
							</div>
						</div>
					</article> <!-- gallery-wrap .end// -->
				</aside>
				<main class="col-md-6 border-left">
					<article class="content-body">
						<h2 class="title">{{ single_product.product_name }}</h2>

						<div class="mb-3">

							{% if single_product.offer > 0 %}
							<var class="price h4">₹ {{ single_product.price }}</var>&#160;&#160;
							<del class="price p">₹{{single_product.mrp}}</del>&#160;
							<var class="price h5" style="color: green;">{{single_product.offer}}% off</var>

							{% else %}
							<var class="price h4">₹ {{ single_product.price }}</var>
							{% endif %}
						</div>
						{% if avg_rating > 0 %}
						<p><span class="rating">{{avg_rating}}&#160;<i class="fas fa-star fa-sm"></i></span><span
								style="font-size: large;">&#160;({{rating_count}} Reviews)</span></p>
						{% endif %}
						<textarea style="border: none;" readonly cols="50"
							rows="11">{{ single_product.description }}</textarea>


						{% if single_product.stock <= 0 %} <h5 class="text-danger">Out of stock</h5>
							{% else %}
							{% if in_cart %}
							<a href="#" class="btn  btn-success"> <span class="text">Added to cart</span>
								<i class="fas fa-check"></i> </a>
							<a href="{% url 'cart' %}" class="btn  btn-outline-primary"> <span class="text">View
									cart</span>
								<i class="fas fa-eye"></i> </a>
							{% else %}
							<a onclick="add_cart('{{single_product.id}}')" class="btn  btn-primary text-white"> <span
									class="text">Add to Cart</span>
								<i class="fas fa-shopping-cart"></i> </a>
							{% endif %}
							<a href="{% url 'buy_now' single_product.id %}" class="btn"
								style="background: rgb(250, 111, 12); color: white;"> <span class="text">Buy Now</span>
								<i class="fas fa-bolt"></i> </a>
							{% endif %}
					</article> <!-- product-info-aside .// -->
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->

		<br>
		{% if user.is_authenticated %}
		{% if orderproduct %}
		<div class="row">
			<div class="col-md-12">

				<form action="{% url 'submit_review' single_product.id %}" method="post">
					{% csrf_token %}
					<h5>Write Your Review</h5>
					<div>
						<label>How do you rate this product?</label>
						<br>
						<div class="rate">

							<input type="radio" name="rating" id="rating10" value="5" required> <label for="rating10"
								title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required> <label for="rating9"
								title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required> <label for="rating8"
								title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required> <label for="rating7"
								title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required> <label for="rating6"
								title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required> <label for="rating5"
								title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required> <label for="rating4"
								title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required> <label for="rating3"
								title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required> <label for="rating2"
								title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required> <label for="rating1"
								title="0.5" class="half"></label>
						</div>
						<br>
						Review Title:
						<input type="text" name="subject" class="form-control">
						<br>
						Review:
						<textarea name="review" class="form-control" rows="4"></textarea>
						<br>
						
						<input type="submit" value="Submit Review" class="btn btn-primary">
						{% else %}
						<p>You must purchase this product to post a review.</p>
						{% endif %}
						{% else %}
						<p>You must be signed in to post a review. <span><a href="{% url 'signin' %}">Sign in</a></span>
						</p>
						{% endif %}
				</form>

				<br>
				{{single_product.averageReview}}
				<header class="section-heading">
					<h3>Customer Reviews </h3>
				</header>
				{% if avg_rating > 0 %}
				<p><span class="rating">{{avg_rating}}&#160;<i class="fas fa-star fa-sm"></i></span><span
						style="font-size: large;">&#160;({{rating_count}} Reviews)</span></p>
				{% endif %}

				{% for review in reviews %}

				<article class="box mb-3">
					<div class="icontext w-100">
						<div class="text">
							<span class="date text-muted float-md-right">{{ review.updated_at }} </span>
							<h6 class="mb-1">{{review.user.full_name}} </h6>
							<div class="rating-star">
								<span>
									<i
										class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"></i>
									<i
										class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"></i>
									<i
										class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"></i>
									<i
										class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"></i>
									<i
										class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"></i>

								</span>
							</div>
						</div>
					</div> <!-- icontext.// -->
					<div class="mt-3">
						<h6>{{review.subject}}</h6>
						<p>{{review.review}}</p>
					</div>
				</article>

				{% endfor %}



			</div> <!-- col.// -->
		</div> <!-- row.// -->


	</div> <!-- container .//  -->
	<div id="snackbar" >Item added to cart</div>
</section>
<script src="{% static 'js/zoomsl.js' %}" type="text/javascript"></script>
<!-- ========================= SECTION CONTENT END// ========================= -->


<script type="text/javascript">
	$(document).ready(function () {
		$(".small_img").hover(function () {
			$(".big_img").attr('src', $(this).attr('src'));
		})
	})
</script>


<script>
	$(document).ready(function () {
		$(".big_img").imagezoomsl({
			zoomrange: [1, 1]
		})
	})
</script>


<script>



	function add_cart(id) {

		var x = document.getElementById("snackbar");
		x.className = "show";
		setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);

		$.ajax({
			url: "{% url 'add_cart' %}",
			method: 'POST',
			dataType: 'json',
			data: {
				id: id,
				csrfmiddlewaretoken: "{{csrf_token}}"
			},
			success: (response) => {
				document.getElementById("cart_count").textContent = response.cart_count
			}
		})
	}
</script>

{% endblock %}