{% extends 'base.html' %}

{% load static %}



{% block content %}


<style>
	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: rgb(255, 255, 255);
		color: #3167eb;
		font-weight: bold;
		border-radius: 10px;
		border: 1px solid #3167eb;
		text-align: center;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	}

	#snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}
</style>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="pt-3 pb-3 bg">
	<div class="container">
		{% if 'search' in request.path %}
		<h2 class="title-page">Search Result</h2>
		{% else %}
		<h2 class="title-page">Our Store</h2>
		{% endif %}

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">

				<div class="card">
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down"></i>
								<h6 class="title">Categories</h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_1">
							<div class="card-body">


								<a href="">
									<p class="brand"></p>
								</a>


								<ul class="list-menu">
									<li><a href="{% url 'store' %}">All Products </a></li>
									{% for brand in links %}
									<li><a href="{{ brand.get_url }}">{{ brand.brand_name }} </a></li>
									{% endfor %}
								</ul>

							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->


				</div> <!-- card.// -->

			</aside> <!-- col.// -->
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{ product_count }} Items found </span>

					</div>
				</header><!-- sect-heading -->

				<div class="row">

					{% if products %}
					{% for product in products %}
					<div class="col-md-4">
						<figure class="card card-product-grid pt-3">
							<div class="mr-3" style="display: none; justify-content: end;" id="remove_wishlist{{product.id}}">
								<a onclick="remove_wishlist('{{product.id}}')" ><i class="fas fa-heart fa-lg" style="color: red;"></i></a>
							</div>
							<div class="mr-3" style="display: flex; justify-content: end;" id="add_wishlist{{product.id}}">
								<a onclick="add_wishlist('{{product.id}}')" ><i class="far fa-heart fa-lg"></i></a>
							</div>
							<div class="img-wrap">

								<a href="{{ product.get_url }}"><img src="{{ product.image1.url }}"></a>

							</div> <!-- img-wrap.// -->
							<figcaption class="info-wrap">
								<div class="fix-height">
									<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
									<div class="price-wrap mt-2 d-flex justify-content-start">
										{% if product.offer > 0 %}
										<span class="price">₹{{product.price}}</span>&#160;&#160;
										<del class="price-old mb-0">₹{{product.mrp}}</del>&#160;
										<p style="color: green;">{{product.offer}}% off</p>
										{% else %}
										<span class="price">₹{{product.price}}</span>
										{% endif %}
									</div> <!-- price-wrap.// -->
								</div>
								{% if product.stock <= 0 %} <a href="#" class="btn btn-block btn-secondary">Out of stock
									</a>
									{% else %}
									<a onclick="add_cart('{{product.id}}')" class="btn btn-block btn-primary"
										style="color: white;">Add to cart </a>
									<a href="{% url 'buy_now' product.id %}" class="btn btn-block"
										style="border: 1px solid rgb(250, 111, 12); color: rgb(250, 111, 12);">Buy Now
									</a>
									{% endif %}

							</figcaption>
						</figure>
					</div> <!-- col.// -->
					{% endfor %}
					{% else %}
					<div>
						<h4>No Products Found.</h4>
					</div>
					{% endif %}

				</div> <!-- row end.// -->


				<nav class="mt-4" aria-label="Page navigation sample">
					{% if products.has_other_pages %}
					<ul class="pagination">
						{% if products.has_previous %}
						<li class="page-item"><a class="page-link"
								href="?page={{ products.previous_page_number }}">Previous</a></li>
						{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						{% endif %}

						{% for i in products.paginator.page_range %}
						{% if products.number == i %}
						<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
						{% else %}
						<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
						{% endif %}
						{% endfor %}

						{% if products.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
						{% endif %}
					</ul>
					{% endif %}
				</nav>

			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
	<div id="snackbar" >Item added to cart</div>
</section>



<script>



	function add_cart(id) {

		var x = document.getElementById("snackbar");
		x.className = "show";
		setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);

		$.ajax({
			url: "{% url 'add_cart' %}",
			method: 'POST',
			dataType: 'json',
			data: {
				id: id,
				csrfmiddlewaretoken: "{{csrf_token}}"
			},
			success: (response) => {
				document.getElementById("cart_count").textContent = response.cart_count
			}
		})
	}



	function add_wishlist(id){
		$.ajax({
			url: "{% url 'add_wishlist' %}",
			method: 'POST',
			dataType: 'json',
			data: {
				id: id,
				csrfmiddlewaretoken: "{{csrf_token}}"
			},
			success: (response) => {
				document.getElementById('add_wishlist'+response.id).style.display = 'none'
				document.getElementById('remove_wishlist'+response.id).style.display = 'flex'
			}
		})
	}

	function remove_wishlist(id){
		$.ajax({
			url: "{% url 'remove_wishlist' %}",
			method: 'POST',
			dataType: 'json',
			data: {
				id: id,
				csrfmiddlewaretoken: "{{csrf_token}}"
			},
			success: (response) => {
				document.getElementById('add_wishlist'+response.id).style.display = 'flex'
				document.getElementById('remove_wishlist'+response.id).style.display = 'none'
			}
		})
	}


	
</script>

{% endblock %}
